.p-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-l);

  @media (max-width: 56rem) {
    grid-template-columns: 1fr;
    max-width: 28rem;
    margin: 0 auto;
  }

  &__more {
    margin-top: var(--space-xl);
    text-align: center;
  }
}

.p-courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-m);
  align-items: stretch;

  @media (max-width: 64rem) {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-l);
  }

  @media (max-width: 36rem) {
    grid-template-columns: 1fr;
  }
}

.p-teachers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-l);

  @media (max-width: 56rem) {
    grid-template-columns: 1fr;
    max-width: 28rem;
    margin: 0 auto;
  }
}

.p-voices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-l);

  @media (max-width: 56rem) {
    grid-template-columns: 1fr;
  }
}

.p-faq {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}
